.hero {
  min-height: 89vh;
  background: url(../../Assets/graph.png);
  background-color: #1c1c21;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
  font-family: "Poppins", sans-serif;
}
.heading1 {
  font-size: 3.3em;
  font-weight: 600;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em 0;
}
.heading2 {
  font-size: 4em;
  font-weight: 600;
  color: #eeeeee;
  margin-top: 0;
  margin-bottom: 0;
}
.button-top-text {
  font-size: 1.5em;
  font-weight: 600;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 0.7em;
  padding: 0.5em 0;
  font-family: "Montserrat", sans-serif;
}

.button_join {
  /* background-color: #fe643df4; */
  background: transparent;
  width: 10em;
  height: 2.5em;
  border-radius: 7px;
  color: #fe643df4;
  border-color: #fe643df4;
  font-weight: bold;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.button_join:hover {
  color: #edf2f4;
  background-color: #fe643df4;
  border-color: #fe643df4;
}

#hero-text {
  padding-top: 6em;
}
