a{
  text-decoration:none;
  color: #001f3f;
  font-size: 1.2rem
}

.navbar-brand a{
  font-size: 1.4rem;
}

.navbar-brand a:hover{
  color: #001f3f;
}

a:hover {
  color: #fe633d;
}

button.btn.btn-light {
  background-color: inherit;
  border: none;
}

button.btn.btn-light:hover {
  background-color: #fe643df4;
  color: #fff;
}
