.header {
  min-height: 75vh;
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
}

.header-content {
  margin: 0 5em;
}

.header-text h1 {
  font-size: 4em;
  font-weight: bold;
}

.header-text p {
  font-size: 1.2em;
}

.btn-header {
  background-color: inherit;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1em;
  transition: all 0.2s ease-in-out;
}

.btn-header:hover {
  background-color: #f9f9f9;
  color: black;
}

.btn-header a {
  text-decoration: none;
  color: inherit;
}
