.header{
  min-height: 75vh;
  /* max-height: 80vh; */
  font-family: 'Montserrat', sans-serif;
}

.header-content{
  margin: 0 5em;
  /* padding: 10em 0; */ 
}

.header-text h1{
  font-size: 4em;
  font-weight: bold;
  /* padding-right:30px ; */
}

.header-text p{
  font-size: 1.2em;
}

.btn-header{
  background-color: inherit;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1em;
  transition: all 0.2s ease-in-out;
}

.btn-header:hover{
  background-color: #f9f9f9;
  color: black;
}

.btn-header a{
  text-decoration: none;
  color: inherit;
}