@media (max-width: 1024px) {
  .card-container {
    justify-content: space-around;
    overflow-x: auto;
  }
}

h4 {
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  flex: 0 0 auto;
  width: 13.5rem;
  height: 15rem;
  background-color: #fdfffc;
  color: black;
  text-align: center;
  padding: 2em 0;
  border-radius: 1em;
  margin: 1em 1em 1em 0em;
}

.card-item:hover {
  outline: 0.15em solid #edf2f4;
  box-shadow: 0 0 0.35em #edf2f4;
  background-color: #212529;
  color: white;
}

.card-item:hover img.arrowStyle {
  background-color: white;
}

.arrowStyle {
  border-radius: 50%;
  padding: 0.4em;
  border: 0.075em solid transparent;
}

.card-item img {
  border-radius: 50%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: fit-content;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.update_btn:hover {
  background-color: azure;
}

.positive {
  color: #52b788;
}

.negative {
  color: #ef233c;
}
