h4{
  font-family: Montserrat;
}

a{
  text-decoration: none;
}

.cardStyle {
  width: 13.5rem;
  height: 15rem;
  background-color: #fdfffc;
  color: black;
  text-align: center;
  padding: 2em 0;
  border-radius: 1em;
  margin: 0.1em;
}

.cardStyle:hover {
  outline: 0.15em solid #edf2f4;
  box-shadow: 0 0 0.35em #edf2f4;
  background-color: #212529;
  color: white;
}


.cardStyle:hover img.arrowStyle {
  background-color: white;
}

.arrowStyle{
  border-radius: 50%;
  padding: 0.4em;
  border: 0.075em solid transparent;
}

.cardStyle img{
  border-radius: 50%;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: fit-content;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.positive{
  color: #52b788;
}

.negative{
  color: #ef233c;
}