.header {
  min-height: 75vh;
  font-family: "Montserrat", sans-serif;
}

.header-content {
  margin: 0 5em;
}

.header-text h1 {
  font-size: 4em;
  font-weight: bold;
}

.header-text p {
  font-size: 1.2em;
}

.btn-header {
  background-color: inherit;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1em;
  transition: all 0.2s ease-in-out;
}

.btn-header:hover {
  background-color: #f9f9f9;
  color: black;
}

.btn-header a {
  text-decoration: none;
  color: inherit;
}

.hero {
  min-height: 89vh;
  background: url(../Assets/graph.png);
  background-color: #161a1d;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-size: contain;
  font-family: "Poppins", sans-serif;
}
.heading1 {
  font-size: 3.3em;
  font-weight: 600;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em 0;
}
.heading2 {
  font-size: 4em;
  font-weight: 600;
  color: #eeeeee;
  margin-top: 0;
  margin-bottom: 0;
}
.button-top-text {
  font-size: 1.5em;
  font-weight: 600;
  color: #bbbbbb;
  margin-top: 0;
  margin-bottom: 0.7em;
  padding: 0.5em 0;
  font-family: "Montserrat", sans-serif;
}

.button_join {
  /* background-color: #fe643df4; */
  background: transparent;
  width: 10em;
  height: 2.5em;
  border-radius: 7px;
  color: #fe643df4;
  border-color: #fe643df4;
  font-weight: bold;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.button_join:hover {
  color: #edf2f4;
  background-color: #fe643df4;
  border-color: #fe643df4;
}

#hero-text {
  padding-top: 6em;
}
