#news-container{
  font-family: Poppins;
  max-height: 2055px;
  overflow-y: scroll;
  scrollbar-color: #fe643df4 #161a1d;
}

#news-container::-webkit-scrollbar {
  width: 3px;
}

#news-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#news-container::-webkit-scrollbar-thumb {
  background: #fe643df4;
}

#news-item{
  margin: 0em 1em 1em;
  font-family: Montserrat;
}

#news-item h5{
  text-transform: uppercase;
  font-family: Poppins;
}

#news-item p{
  font-size: 14px;
  color: #adb5bd;
  margin-bottom: 3px;
}

#news-item a{
  color: #fe643df4;
  font-size: 14px;
}

#news-item a:hover{
  color: #52b788;
}